@charset "utf-8";
#local_video {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: red;
}

#buttons {
  background-color: #99cc00;
  position: absolute;
  z-index: 2;
}

#myVideo {
  background-color: #99cc00;
  z-index: 3;
}
